@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 100, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 100, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: radial-gradient(ellipse at center,
      rgba(52, 60, 131, 1) 0%,
      rgba(0, 0, 0, 1) 100%); */
  /* z-index: -10;
  min-height: 100vh; */
  margin: 0;
  padding: 0;
  position: relative;
  /* overflow: hidden; */
  /* inset: 0px;
  transform: scale(1); */
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
  padding: 0;
}

html {
  background: radial-gradient(ellipse at center,
      rgba(52, 60, 131, 1) 0%,
      rgba(0, 0, 0, 1) 100%);
}

body,
html {
  height: 100%;
  margin: 0;
}

/* Sticky footer grid */
.grid-rows-layout {
  grid-template-rows: auto 1fr auto;
}